* {
  /*box-sizing: border-box;*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh; /* 100% view height */
    width: 100vw; /* 100% view width */
    max-width: 100vw;

}

button {
  cursor: pointer;
}

a {
    text-decoration: none;
    color: #8F5BFE;
}

main {
    min-height: 90vh;
}

#main-wrapper {
    padding: 0;
    margin: 0;
    max-width: 100vw; /*1920px;*/
}

.top-banner {
    background-color: azure;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.logo-top {
    max-height: 140px;
    border-radius: 15px;
}

.presentation {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.presentation h1, .presentation h2, .pick {
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(37, 15, 112) ;
}

.welcome {
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 20px;
}

.intro {
    font-size: 21px;
}

b {
    color: rgb(20, 171, 173);
}

.pick {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 30px;
}

.mainSection {
    display:flex;
    align-items: center;
    justify-content: center;
}

.itemsList {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 360px;
    list-style: none;
    padding: 0;
}

.itemsList article {
    margin-bottom: 48px;
    margin-top: 10px;
}

.itemsList h3 {
    font-size: 20px;
}

.listImage {
    width:290px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.bot-banner {
    background-color: azure;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.bot-logo img{
    max-height: 120px;
    border-radius: 12px;
}
.listImage:hover, .listImage:active , .listImage:focus  {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.listImage:active , .listImage:focus {
  -webkit-animation: scale 530ms ease-in;
  animation: scale 530ms ease-in;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);

  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}



/* product page */

@keyframes fadeout{
    0%{opacity:1;visibility:visible;}
    99%{opacity:0;}
    100%{opacity:0;visibility: hidden;}
}
.fadeout {
    animation:fadeout 1s linear;
    visibility:hidden;
}
@keyframes fadein{
    0%{opacity:0;visibility:visible;}
    100%{opacity:1;}
}
.fadein {
    animation:fadein 1s linear;
}
